# To get the dataset ask for permission in the official repo
# https://github.com/ondyari/FaceForensics
scripts/get_dataset.py
*.mp4
**/__pycache__/
data/
poetry.lock
tmp/
data/runs/
.mypy_cache/
.pytest_cache/